node_modules

.env

docker-compose.yml

/uploads/incomings/*
/uploads/notes/*
/uploads/projects/*
/uploads/stores/*

!/uploads/projects/.gitkeep
!/uploads/notes/.gitkeep
!/uploads/incomings/.gitkeep
!/uploads/stores/.gitkeep
.env.production
